In [1]:
import numpy as np

In [2]:
import pandas as pd

data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [3]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
# the total sum of Animal Fat produced in 2014 and 2017 respectively

print(data.groupby(['Item']).apply(lambda x: x[x['Item'] == 'Animal fats' ]['Y2014'].sum()))
print(data.groupby(['Item']).apply(lambda x: x[x['Item'] == 'Animal fats' ]['Y2017'].sum()))


# total sum of animal fat produced in 2014 is 209460.54
# total sum of animal fat produced in 2014 is 269617.53

Item
Alcohol, Non-Food           0.00
Alcoholic Beverages         0.00
Animal Products             0.00
Animal fats            209460.54
Apples and products         0.00
                         ...
Vegetables, Other           0.00
Vegetal Products            0.00
Wheat and products          0.00
Wine                        0.00
Yams                        0.00
Length: 119, dtype: float64
Item
Alcohol, Non-Food           0.00
Alcoholic Beverages         0.00
Animal Products             0.00
Animal fats            269617.53
Apples and products         0.00
                         ...
Vegetables, Other           0.00
Vegetal Products            0.00
Wheat and products          0.00
Wine                        0.00
Yams                        0.00
Length: 119, dtype: float64

In [6]:
# the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places

print(round(data['Y2015'].mean(), 3))
print(round(data['Y2015'].std(), 3))

135.236
1603.404

In [7]:
#total number and percentage of missing data in 2016 to 2 decimal places

print(data['Y2016'].isnull().sum())

print( round(data['Y2016'].isnull().sum()* 100 / len(data), 2))

1535
2.52

In [29]:
# year that had the highest correlation with ‘Element Code’

In [9]:
corr1 = data['Element Code'].corr( data['Y2014'])
corr2 = data['Element Code'].corr( data['Y2015'])
corr3 = data['Element Code'].corr( data['Y2016'])
corr4 = data['Element Code'].corr( data['Y2017'])
corr5 = data['Element Code'].corr( data['Y2018'])
print(corr1)
print(corr2)
print(corr3)
print(corr4)
print(corr5)


# year 2014 is the one having the highest correlation

0.024456819495221795
0.02388919930163992
0.023443997584961428
0.02425400776004572
0.02427857195351955

In [10]:
# year that has the highest sum of Import Quantity

In [11]:
im_q = data.groupby('Element')

In [12]:
import_quant_year = im_q.get_group('Import Quantity').sum()
import_quant_year

Area Code                                                  688174
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                13795966
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             28834929
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                   274144.48
Y2015                                                   267018.46
Y2016                                                   286582.78
Y2017                                                   294559.09
Y2018                                                   287997.09
dtype: object

In [13]:
# total number of the sum of Production in 2014

In [14]:
p = data.groupby('Element')

In [15]:
production_2014 = p.get_group('Production').sum()
production_2014

# the total production in 2014 was 1931287

Area Code                                                  526751
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                10450053
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21388191
Element         ProductionProductionProductionProductionProduc...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                  1931287.75
Y2015                                                  1947019.39
Y2016                                                  1943537.15
Y2017                                                  2030056.89
Y2018                                                  2075072.89
dtype: object

In [16]:
# elements that had the highest sum in 2018 ?

In [17]:
data.groupby('Element')['Y2018'].sum()

# the element with highest sum in 2018 is domestic supply quantity has the highest

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [18]:
# elements that had the 3rd lowest sum in 2018

In [19]:
data.groupby('Element')['Y2018'].sum()

# the element is Protein supply quantity (g/capita/day)

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [20]:
# total Import Quantity in Algeria in 2018

In [25]:
ar = data.groupby('Area')

In [26]:
alg_imp_q = ar.get_group('Algeria')
alg_imp_q[alg_imp_q['Element']=='Import Quantity']['Y2018'].sum()

36238.29

In [28]:
#  total number of unique countries in the dataset
data['Area'].nunique()

49